.instaiconHover:hover{
    border-radius:9px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.linkediniconHover:hover{
    color: #0A66C2;
}

.githubiconHover:hover{
    color: #fff;
}

.twittericonHover:hover{
    color: #00acee;
}